name: Release
on:
  push:
    branches: ['main']
  workflow_dispatch:
env:
  GH_TOKEN: ${{ secrets.ROBOT_TOKEN }}
  GIT_AUTHOR_NAME: akiravoid-bot
  GIT_AUTHOR_EMAIL: coding@akiravoid.com
  GIT_COMMITTER_NAME: akiravoid-bot
  GIT_COMMITTER_EMAIL: akiravoid-bot
  NODE_ENV: staging

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.ROBOT_TOKEN }}
      - name: Setup node
        uses: actions/setup-node@v3
      - name: Setup yarn
        run: corepack enable && corepack prepare yarn@stable --activate
      - name: Install dependencies
        run: |
          yarn install
          yarn pinst --disable
      - name: Build package
        run: yarn build
      - name: Test
        run: yarn test:ci
      - name: Release
        run: yarn semantic-release
